:root {
  --numix-puter-puter: #2d2d2d;
  --numix-snapped-nail: #3d3d3d;
  --numix-falck: #535353;
  --numix-subway-silver: #dcdcdc;
  --numix-red: #d64937;
  --titlesize: 24px;
  --textsize: 16px;
  --btnsize: 14px;
}

body {
  background-color: var(--numix-puter-puter);
  margin: 30px 80px 0 80px;
}

.note {
  width: 100%;
  background-color: transparent;
  border: none;
  resize: none;
}

.note:focus {
  outline: none;
}

hr {
  border: 1px solid var(--numix-snapped-nail);
  margin: 8px 0 8px 0;
}

span.vr {
  display: inline;
  height: 100%;
  margin: 0 5px 0 5px;
  border: 1px solid var(--numix-snapped-nail);
}

p#btn-panel {
  display: block;
  height: var(--btnsize);
  margin: 0;
  text-align: right;
}

.btn {
  color: var(--numix-falck);
  font-size: var(--btnsize);
  line-height: var(--btnsize);
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  color: var(--numix-red);
}

input#title {
  color: var(--numix-falck);
  font-size: var(--titlesize);
  line-height: var(--titlesize);
  height: var(--titlesize);
}

::-webkit-input-placeholder {
  color: var(--numix-falck);
}

textarea#content {
  color: var(--numix-subway-silver);
  font-size: var(--textsize);
  height: calc(100vh - 30px - 24px - 18px - 14px);
  padding: 0;
}

